* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-form {
    background-color: #facdb9;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1.5rem;
    padding: 1rem;
    width: 25%;
    font-family:'Poppins';
    border-radius: 10px;


}